<section class="block block--dark">
    <div class="container grid grid--1x2">
        <div class="hero__content">
          <ul class="list nav__list hero__icons__list">
                  <li class="hero__icons">
                    <span class="icon-container icon-container-small">
                        <svg class="icon icon--accent icon--small">
                            <use xlink:href="images/sprite.svg#bocce"></use>
                        </svg>
                    </span>
                  </li>
                  <li class="hero__icons">
                    <span class="icon-container icon-container-small">
                        <svg class="icon icon--accent icon--small">
                            <use xlink:href="images/sprite.svg#darts"></use>
                        </svg>
                    </span>
                  </li>
                  <li class="hero__icons">
                    <span class="icon-container icon-container-small">
                        <svg class="icon icon--accent icon--small">
                            <use xlink:href="images/sprite.svg#volleyball"></use>
                        </svg>
                    </span>
                  </li>
                  <li class="hero__icons">
                    <span class="icon-container icon-container-small">
                        <svg class="icon icon--accent icon--small">
                            <use xlink:href="images/sprite.svg#bags"></use>
                        </svg>
                    </span>
                  </li>
          </ul>
            <h1 class="block__heading">Ope Sportz!</h1>
            <p class="hero__tagline">Your home for Volleyball, Darts, Bags, and Bocce events and Leagues</p>
            <div class="hero__button__container">
                <div class="hero__button"><a href="" class="btn btn--primary">Login/Sign Up</a></div>
            </div>
        </div>
        <img class="image hero__image" src="../images/Ope-mural.jpg" alt="">
    </div>
</section>
