<nav class="nav collapsible">
    <a href="/">
        <span class="icon-container">
            <svg class="icon icon--accent">
                <use xlink:href="images/sprite.svg#ope-logo-filled"></use>
            </svg>
        </span>
    </a>
        <svg class="icon nav__toggle">
            <use xlink:href="images/sprite.svg#menu-icon"></use>
        </svg>
    <ul class="list nav__list collapsible__content">
        <li class="nav__item"><a href="#">Ope! Homepage</a></li>
        <li class="nav__item"><a href="#">Events</a></li>
        <li class="nav__item"><a href="#">Contact Us</a></li>
        <li class="nav__item"><a href="#">Login</a></li>
    </ul>
</nav>
