<div class="sport">
    <div class="card card--secondary">
        <header class="card__header">
            <a class="card__logo" href="/"><img class="tap__logo" src="images/tap-handle.png" alt=""></a>
            <h2 class="sport__name">Bocce</h2>
        </header>
        <div class="card__body">
            <ul class="list">
                <li class="list__item sport__list__item">
                    <span class="icon-container icon-container--small">
                        <svg class="icon icon--accent icon--small">
                            <use xlink:href="images/sprite.svg#bocce"></use>
                        </svg>
                    </span>
                    <span class="sport__list__content">Lorem ipsum dolor sit amet.</span>
                </li>
                <li class="list__item sport__list__item">
                    <span class="icon-container icon-container--small">
                        <svg class="icon icon--accent icon--small">
                            <use xlink:href="images/sprite.svg#bocce"></use>
                        </svg>
                    </span>
                    <span class="sport__list__content">Lorem ipsum dolor sit amet.</span>
                </li>
                <li class="list__item sport__list__item">
                    <span class="icon-container icon-container--small">
                        <svg class="icon icon--accent icon--small">
                            <use xlink:href="images/sprite.svg#bocce"></use>
                        </svg>
                    </span>
                    <span class="sport__list__content">Lorem ipsum dolor sit amet.</span>
                </li>
            </ul>
            <button class="btn btn--secondary btn--block">See Events</button>
        </div>
    </div>
</div>